body {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  height: calc(100% - #{$mobile_toc_header_height});
  
  @include full-nav-menu-desktop {
    height: 100%;
  }
}

.determined-ai-container {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  
  margin: 0 auto;
  padding: 0;
  width: auto;
  position: relative;

  @include full-nav-menu-desktop {
  }

  @include sphinx-medium-size {
  }

  @include sphinx-full-size {
  }
}

.determined-ai-content-wrap {
  background-color: #ffffff;
  flex-grow: 1;
  height: calc(100% - #{$header_height});
  position: relative;
  width: 100%;

  @include sphinx-medium-size {
  }

  @include sphinx-full-size {
  }
}

.determined-ai-content {
  background: #ffffff;
  width: 100%;
  max-width: $sphinx_full_width_content_width;
  position: relative;
}

.determined-ai-content-left {
  flex-basis: 100%;
  height: 100%;
  overflow: auto;
  padding: rem(30px);

  @include sphinx-medium-size {
    padding: rem(30px) calc(25% + #{rem(30px)}) rem(30px) rem(30px);
  }

  @include sphinx-full-size {
  }

  .main-content {
    ul.simple {
      padding-bottom: rem(20px);
    }
    .note, .warning {
      &:nth-child(1) {
        margin-top: 0;
      }
    }
  }
}

.determined-ai-content-right {
  flex-grow: 1;
  display: none;
  padding: rem(30px) rem(15px);
  position: absolute;
  overflow: auto;
  right: 0;
  top: 0;
  width: 25%;

  @include sphinx-medium-size {
    /* d.ai */
    display: block;
    // flex-basis: rem(300px);
    // position: fixed;
    // right: 0;
    // width: 21%;
    // height: calc(100% - #{$desktop_header_height / 2});
    // margin-left: 0;
    // overflow: auto;
  }

  @include sphinx-full-size {
    /* d.ai */
    // position: fixed;
    // top: 45px;
    // right: 0;
    // width: calc(100% - 910px - #{$desktop_menu_width});
  }
}

.determined-ai-side-scroll {
  @include sphinx-medium-size {
    position: relative;
    // overflow-x: hidden;
    // overflow-y: scroll;
    height: 100%;
  }
}

.determined-ai-menu-vertical {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  // padding: rem(20px) rem(30px) rem(40px) rem(30px);

  @include sphinx-medium-size {
    // display: block;
    // padding-top: 0;
    // padding-right: $sphinx_left_menu_wrapper_padding_right;
    // padding-bottom: rem(90px);
  }

  @include sphinx-full-size {
    // padding-left: 0;
    // padding-right: rem(25px);
  }
}

.determined-ai-left-menu {
  flex-basis: 100%;
  flex-shrink: 0;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: solid 1px $border_grey;
  background-color: $white;
  color: $slate;
  z-index: 200;

  @include sphinx-medium-size {
    flex-basis: $sphinx_left_menu_width;
    display: block;
    position: relative;
    width: auto;
    height: auto;
    border-right: solid 1px $border_grey;
    border-bottom: 0;

    &.make-fixed {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      float: none;
    }
  }

  @include sphinx-full-size {
  }
}

.determined-ai-left-menu p.caption {
  color: $not_quite_black;
  display: block;
  display: inline-block;
  font-size: rem(16px);
  line-height: rem(22px);
  margin-bottom: rem(16px);
  padding: 0;
  text-transform: none;
}

.determined-ai-left-menu-search {
  padding: 0;

  @include sphinx-medium-size {
  }
}

.determined-ai-left-menu-search {
  ::-webkit-input-placeholder {
    color: $smoky_grey;
    font-style: italic;
  }

  ::-moz-placeholder {
    color: $smoky_grey;
    font-style: italic;
  }

  :-ms-input-placeholder {
    color: $smoky_grey;
    font-style: italic;
  }

  :-moz-placeholder {
    color: $smoky_grey;
    font-style: italic;
  }

  ::placeholder {
    color: $smoky_grey;
    font-style: italic;
  }
}

.determined-ai-left-menu-search div[role=search] {
  display: flex;
  align-items: center;
  width: 100%;
  height: $header_height;
  padding: 0 0 0 54px;
  border: 0;
  border-bottom: solid 1px $border_grey;
  border-radius: 0;
  background-color: #f7f7f7;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 31px 15px;
  color: $oxford_blue;
  font-size: rem(16px);

  form { width: 100%; }
  input[type=text] {
    background-color: transparent;
    border: 0;
    width: 100%;

    &:focus { outline: 0; }
  }
}

.determined-ai-left-menu .determined-ai-side-scroll {
  @include sphinx-medium-size {
    width: $sphinx_left_menu_scroll_wrapper_width;
  }

  @include sphinx-full-size {
    width: 340px;
  }
}

.determined-ai-right-menu {
  min-height: 100px;
  // overflow-x: hidden;
  // overflow-y: hidden;
  left: 0;
  z-index: 200;
  padding-top: 0;
  position: relative;

  @include sphinx-medium-size {
    width: 100%;

    &.scrolling-fixed {
      position: fixed;
      top: 45px;
      left: 83.5%;
      width: 14%;
    }

    &.scrolling-absolute {
      position: absolute;
      left: 0;
    }
  }

  @include sphinx-full-size {
    left: 0;
    width: 380px;

    &.scrolling-fixed {
      position: fixed;
      top: 45px;
      left: 1230px;
    }

    &.scrolling-absolute {
      position: absolute;
      left: 0;
    }
  }
}

.determined-ai-left-menu,
.determined-ai-right-menu {
  ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: rem(40px);
  }

  > ul {
    margin-bottom: rem(40px);
  }

  a:link,
  a:visited,
  a:hover {
    color: $quick_start_grey;
    font-size: rem(14px);
    line-height: rem(16px);
    padding: 0;
    text-decoration: none;
    &.reference.internal {
      margin-bottom: rem(5px);
      position: relative;
    }
  }

  li {
    &.divide-top {
    }

    &.divide-bottom {
    }

    &.current {
      a {
        &:hover {
        }
      }
    }

    code {
      border: none;
      background: inherit;
      color: inherit;
      padding-left: 0;
      padding-right: 0;
    }

    // Expand links
    span.toctree-expand {
      display: block;
      float: left;
      margin-left: -1.2em;

      font-size: 0.8em;
      line-height: 1.6em;
    }
  }

  // On state for the first level
  li.on a, li.current > a {
    position: relative;
    border: none;

    &:hover {
      span.toctree-expand {
      }
    }

    span.toctree-expand {
      display: block;
      font-size: 0.8em;
      line-height: 1.6em;
    }
  }

  li.toctree-l1.current > a {
    color: $red_orange;
    &:before {
      content: "\2022";
      display: inline-block;
      position: absolute;
      left: -15px;
      top: -2px;
      font-size: rem(22px);
      color: $red_orange;

      @include sphinx-medium-size {
        left: -20px;
      }
    }
  }

  // This is the on state for pages beyond second level
  li.toctree-l2 a, li.toctree-l3 a, li.toctree-l4 a {
  }

  li.toctree-l1.current li.toctree-l2, li.toctree-l2.current li.toctree-l3 {
    > ul {
      display: none;
    }

    &.current > ul {
      display: block;
    }
  }

  li.toctree-l2 {
    &.current {
      > a {
      }

      li.toctree-l3 > a {
        display: block;
      }
    }

    a:hover span.toctree-expand {
    }

    span.toctree-expand {
    }
  }

  li.toctree-l3 {
    font-size: 0.9em;

    &.current {
      > a {
      }

      li.toctree-l4 > a {
        display: block;
      }
    }

    a:hover span.toctree-expand {
    }

    span.toctree-expand {
    }
  }

  li.toctree-l4 {
    font-size: 0.9em;
  }

  li.current ul {
    display: block;
  }

  li ul {
    margin-bottom: 0;
    display: none;
  }

  li ul li a {
    margin-bottom: 0;
  }

  a {
    display: inline-block;
    position: relative;

    &:hover {
      cursor: pointer;

      span.toctree-expand {
      }
    }

    &:active {
      cursor: pointer;
      span.toctree-expand {}
    }
  }
}

.determined-ai-left-menu ul {
  padding-left: 0;
}

.determined-ai-right-menu {
  a:link,
  a:visited,
  a:hover {
    color: $quick_start_grey;

    span.pre {
      color: $quick_start_grey;
    }
  }

  a.reference.internal {
    &.expanded:before {
      content: "-";
      font-family: monospace;
      position: absolute;
      left: -12px;
    }

    &.not-expanded:before {
      content: "+";
      font-family: monospace;
      position: absolute;
      left: -12px;
    }
  }

  li.active > a {
    color: $red_orange;

    span.pre,
    &:before {
      color: $red_orange;
    }

    &:after {
      content: "\2022";
      color: $orange;
      display: inline-block;
      font-size: rem(22px);
      left: -17px;
      position: absolute;
      top: -2px;
    }
  }

  .determined-ai-side-scroll > ul > li > ul > li {
    margin-bottom: 0;
  }

  ul ul {
    padding-left: 0;

    li {
      padding-left: 0px;

      a.reference.internal {
        padding-left: 0;
      }

      ul {
        display: none;
        padding-left: 10px;
      }

      li a.reference.internal {
        padding-left: 0;
        line-height: 1.5;
      }
    }
  }

  li ul {
    display: block;
  }
}

.determined-ai-right-menu .determined-ai-side-scroll {
  padding: rem(30px) 0;

  @include sphinx-medium-size {
    width: $sphinx_right_menu_scroll_wrapper_width;
  }

  @include sphinx-full-size {
    width: 400px;
  }

  > ul {
    margin-bottom: 0;

    /* d.ai */
    padding-left: rem(30px);
    padding-left: rem(30px);

    @include sphinx-full-size {
      /* d.ai */
      padding-left: rem(15px);
      // margin-left: rem(-15px);
    }

    > li > a.reference.internal  {
      color: $slate;
      font-weight: 500;
    }
  }

  ul li {
    position: relative;
  }
}

.header-container {
  max-width: none;
  margin-top: 4px;
  @include sphinx-medium-size {
    margin-top: 0;
  }
  @include sphinx-full-size {
    margin-top: 0;
  }
}

.determined-ai-page-level-bar {
  display: none;
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid $border_grey;
  width: 100%;
  z-index: 201;

  @include sphinx-medium-size {
    display: flex;
    flex-basis: $header_height;
    flex-shrink: 0;
    z-index: 1;
  }

  @include sphinx-full-size {
    width: auto;
    z-index: 1;
  }

  ul, li {
    margin: 0;
  }
}

.determined-ai-shortcuts-wrapper {
  display: none;
  padding: 0 rem(15px);

  @include sphinx-medium-size {
    font-size: rem(14px);
  }

  @include sphinx-full-size {
  }
}

.cookie-banner-wrapper {
  display: none;

  .container {
    padding-left: rem(30px);
    padding-right: rem(30px);
    max-width: 1240px;
  }

  &.is-visible {
    display: block;
    position: fixed;
    bottom: 0;
    background-color: $light_grey;
    min-height: 100px;
    width: 100%;
    z-index: 401;
    border-top: 3px solid #ededee;
  }

  .gdpr-notice {
    color: $dark_grey;
    margin-top: rem(25px);
    text-align: left;
    max-width: 1440px;
    @include desktop {
      width: 77%;
    }
    @include small-desktop {
      width: inherit;
    }

    .cookie-policy-link {
      color: #343434;
    }
  }

  .close-button {
    appearance: none;
    background: transparent;
    border: 1px solid $light_grey;
    height: rem(21px);
    position: absolute;
    bottom: 42px;
    right: 0;
    top: 0;
    cursor: pointer;
    outline: none;
    @include desktop {
      right: 20%;
      top: inherit;
    }

    @include small-desktop {
      right: 0;
      top: 0;
    }
  }
}

.main-menu ul li {
  .ecosystem-dropdown, .resources-dropdown a {
    cursor: pointer;
  }

  .dropdown-menu {
    border-radius: 0;
    padding: 0;

    .dropdown-item {
      color: $dark_grey;
      border-bottom: 1px solid $border_grey;
      &:last-of-type {
        border-bottom-color: transparent;
      }

      &:hover {
        background-color: $orange;
      }

      p {
        font-size: rem(16px);
        color: #979797;
      }
    }

    a.dropdown-item {
      &:hover {
        color: $white;
        p {
          color: $white;
        }
      }
    }
  }
}

.ecosystem-dropdown-menu, .resources-dropdown-menu {
  left: -75px;
  width: 226px;
  display: none;
  position: absolute;
  top: rem(50px);
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: $white;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.ecosystem-dropdown-menu.show-menu, .resources-dropdown-menu.show-menu {
  display: block;
}

.main-menu ul li {
  .ecosystem-dropdown-menu, .resources-dropdown-menu {
    border-radius: 0;
    padding: 0;
  }
}

.main-menu ul li {
  .ecosystem-dropdown-menu, .resources-dropdown-menu {
    .dropdown-item {
      color: #6c6c6d;
      border-bottom: 1px solid $border_grey;
    }
  }
}
