$custom-font-size: 16px;
$black: #000000;
$white: #ffffff;
$dark_grey: #6c6c6d;
$light_grey: #f3f4f7;
$orange: #e44c2c;
$red_orange: #f77b21;
$medium_grey: #f3f4f7;
$not_quite_black: #262626;
$slate: #262626;
$very_light_grey: #f3f4f7;
$very_dark_grey: #cccdd1;
$content_text_color: #6c6c6d;
$code_background_color: #f3f4f7;
$dark_blue: #3d5a97;
$quick_start_grey: #6c6c6d;
$command_block_black: #6c6c6d;
$smoky_grey: #cccdd1;
$medium_smoky_grey: #cccdd1;
$code_link_color: #4974d1;

$deep_orange: #f77b21;
$determined_blue: #234b65;
$oxford_blue: #0d1e2b;
$action_blue: #009bde;
$border_grey: #e2e2e2;

$desktop_menu_width: 350px;

$mobile_toc_header_height: 45px;
$header_height: 45px;

$desktop_header_height: 90px;
$mobile_header_height: 68px;
$desktop_footer_height: 420px;
$site_horizontal_padding: 30px;

$baseurl: "";

@mixin code_font_family {
  font-family: IBMPlexMono,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

@mixin desktop {
  @media screen and (min-width: 768px) { @content; }
}

@mixin full-nav-menu-desktop {
  @media screen and (min-width: 1100px) { @content; }
}

@mixin max-width-desktop {
  @media screen and (min-width: 1240px) { @content; }
}

@mixin small-desktop {
  @media (min-width: 768px) and (max-width: 1239px) { @content; }
}

@function rem($px) {
  @return ($px / 16px) * 1rem;
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  & {
    *zoom: 1;
  }
}

@mixin default_link_styles {
  a:link,
  a:visited,
  a:hover {
    color: $orange;
    text-decoration: none;
  }

  @include desktop {
    a:hover {
      text-decoration: underline;
    }
  }
}

@mixin animated_border_hover_state {
  @include desktop {
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $orange;
      transition: width .250s ease-in-out;
    }

    &:hover:after {
      width: 100%;
    }
  }
}
